<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion administrateur</title>
</head>
<body>
    <h1>Connexion administrateur</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action="{{ url_for('authentification') }}" method="post">
        <p>
            <label for="username">Login :</label><br>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Mot de passe :</label><br>
            <input type="password" id="password" name="password">
        </p>
        <p>
            <button type="submit">Se connecter</button>
        </p>
    </form>

    <p><a href="{{ url_for('hello_world') }}">Accueil</a></p>
</body>
</html>
